body {margin: 0px; padding: 0px;}
body, tr, td, table {font-family: Verdana, Arial, Helvetica, sans-serif;}
a:link,a:visited,a:active{color:gray; text-decoration:underline}
a:hover{color:red; text-decoration:underline}

.green {color: green; font-weight: bolder;}
.red {color: red; font-weight: bolder;}
.lightblue {color: lightblue; font-weight: bolder;}
.blue {color: blue; font-weight: bolder;}
.white {color: white; font-weight: bolder;}
.black {color: black; font-weight: bolder;}
.yellow {color: yellow; font-weight: bolder;}
.orange {color: orange; font-weight: bolder;}
.violet {color: violet; font-weight: bolder;}
