@import 'lib/base.css';


/* =Typography
-----------------------------------------------------------------------------*/
body {
	min-width: 960px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
}

/* =Links
-----------------------------------------------------------------------------*/
a, a.blue { color: #335d87; }
a:hover {
	color: #900 !important;
	text-decoration: underline;
}
a.red:hover {
	color: #000 !important;
}
h1 a, h2 a, h3 a {
	color: #000;
}


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	padding: 42px 0px;
	width: 96%;
	margin: auto;
}

